<div class="backdrop"></div>
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/phones' ? 'active' : '' %>" href="/phones">Phones</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/laptop' ? 'active' : '' %>" href="/laptop">Laptops</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/accessories' ? 'active' : '' %>" href="/accessories">Accessories</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/others' ? 'active' : '' %>" href="/others">Others</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                </a>
            </li>
        </ul>
    </nav>
</header>