<script src="/js/main.js"></script>
<div class="backdrop"></div>
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/filter/1' ? 'active' : '' %>" href="/category/1">Phones</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/filter/2' ? 'active' : '' %>" href="/category/2">Laptops</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/filter/3' ? 'active' : '' %>" href="/category/3">Accessories</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/filter/4' ? 'active' : '' %>" href="/category/4">Others</a>
            </li>
        </ul>
    </nav>
    <div style="display: flex; gap: 10px; padding-top: 5px;">
        <div style="position: relative;">
            <input type="text" id="searchTextId" oninput="searchText(this);" style="width: 300px; border-radius: 50px; height: 40px; font-size: 19px;"/> 
            <div id="searchResult">
                <div id="searchLoading" style="text-align: center;"> <img src="images/loading.webp" alt="loading" style="width: 30px; "></div>                
                <div id="searchContain">
                    <!-- <div class="searchContainItem">
                        <img src="/images/1707277947779-product_2.png" style="width: 100px;"/>
                        <div>
                            <p>product title</p>
                            <p>product : price</p>
                        </div>
                    </div>
                    <div class="searchContainItem">
                        <img src="/images/1707277947779-product_2.png" style="width: 100px;"/>
                        <div>
                            <p>product title</p>
                            <p>product : price</p>
                        </div>
                    </div>
                    <div class="searchContainItem">
                        <img src="/images/1707277947779-product_2.png" style="width: 100px;"/>
                        <div>
                            <p>product title</p>
                            <p>product : price</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <img style="position: relative;  background-color: bisque; border-radius: 50%; " src="/images/search_icon.png" alt="" width="40px" onclick="searchProductByName()">
        <a href="/admin/home"><button class="btn">Sign In <br/> <b>Admin</b></button></a>
        <a href="/product/cart"><img style="position: relative; background-color: bisque; border-radius: 50%; " src="/images/cart-yellow.jpg" alt="" width="40px"></a>
    </div>
</header>