<script src="js/main.js"></script>
<div class="backdrop"></div>
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/filter/1' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/filter/1' ? 'active' : '' %>" href="/category/1">Phones</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/filter/2' ? 'active' : '' %>" href="/category/2">Laptops</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/filter/3' ? 'active' : '' %>" href="/category/3">Accessories</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/filter/4' ? 'active' : '' %>" href="/category/4">Others</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                </a>
            </li>
        </ul>
    </nav>
    <div style="display: flex;">
        <input type="text" id="searchTextId" style="width: 300px;"/> 
        <img src="images/search_icon.png" alt="" width="20px" onclick="searchProductByName()">
    </div>
</header>