                <div class="box-border">
                     <!--first div with bg-->
                     <div style="border-color: #f1f1f2;box-sizing: border-box; padding-bottom: 1rem;background-color: #f2f8fd;
                         border-color: #f1f1f2;border-bottom-style: solid; border-bottom-width: 1px;">
                         <div>
                             Shipping, arrivesTue, Feb 6–Wed, Feb 28
                         </div>

                     </div>
                     <!--items-->
                     <div style="display: flex; flex-direction: column;">
                         <!--number of item-->
                         <div style="padding-left: 1.5rem;padding-right: 1.5rem;margin-top: 1rem;justify-content: space-between;align-items: center; box-sizing: border-box;">
                             <div style="font-size: 1.125rem;font-weight: 700;"><span><%= noofitem %></span> items</div>
                         </div>                        
                         <section>
                            <% for(let i = 0; i< cart.length; i++) {%>
                                
                            <div class="flexcolumn" style="box-sizing: border-box; margin: 0.5rem; position: relative;border-top: 1px solid #f1f1f2; background-color: #fff;">
                                <div style="display: flex;position: relative;padding-top: 0.25rem;">
                                    <div style="margin-top: 0.25rem;margin-bottom: 1rem;;display: flex;box-sizing: border-box;">
                                        <a>
                                            <img src="/images/i15.jpeg" height="96px" width="96px"/>
                                        </a>
                                    </div>
                                    <div style="display: flex;width: 60%;box-sizing: border-box;color: #2e2f32; padding-top: 10px;">
                                        <span><%= cart[i].title %></span>
                                    </div>
                                    <div style="text-align: right;line-height: 1.25;font-size: 1.125rem;font-weight: 700;box-sizing: border-box; padding-top: 10px; width: 30%; padding-right: 10px;">
                                        $<%= cart[i].price %>
                                    </div>
                                </div>
                                <!--remove-->
                                <div class="menu-quantity">
                                    
                                    <div>
                                        <a class="btn-quanity" style="text-align: center; text-decoration: underline;cursor: pointer;" onclick="removeItem(this, '1');">
                                            Remove
                                        </a>                                       
                                    </div>
                                    <div style="width: 120px;padding: 0.25rem;display: flex;border-radius: 9999px; border: 1px solid #babbbe; font-size: 1rem;">
                                        <button class="btn-quanity quantity-change" style="width: 1.5rem;height: 1.5rem;justify-content: center;align-items: center;display: flex;border-radius: 1rem; border:0px;"
                                            onclick="changeQuantity(this, '<%=cart[i].id %>', -1);">
                                            -</button>
                                            <span id="spanquantity" style="margin: 0 auto; display: flex; align-items: center;font-weight: 700;">
                                                <%= cart[i].quantity %> 
                                            </span>
                                        <button class="btn-quanity quantity-change" style="width: 1.5rem;height: 1.5rem;justify-content: center;align-items: center;display: flex;border-radius: 1rem; border:0px;"
                                            onclick="changeQuantity(this, '<%=cart[i].id %>', 1);">
                                            +</button>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <% } %>
                        </section>                         

                         

                     </div>

                 </div>