<%- include('includes/header.html') %>	
    <link rel="stylesheet" type="text/css" href="/css/product.css" /> 
    <script type="text/javascript" src="/js/product.js"></script>
    <title>Document</title>
</head>
<body>
    <%- include('includes/banner.html') %>
    <%- include('includes/menu.html') %>							
    <div>
        <div class="content">
            <div style="display: flex;flex-wrap: wrap; margin-top: 30px;">
                
                <div id="inccart" class="inccart " style="width: 66.6666666667%;">
                    <div id="msg" class="box-border flexcolumn" style="display: none; padding: 15px;gap:10px;">
                        <div id="ordermsg" style="font-size: 1.25rem;"></div>
                        <a class="blue-button" href="/" style="text-decoration: none;">
                            <span>Continue shopping</span>
                        </a>
                    </div>
                    <div id="ordercart" class="box-border flexcolumn" style="display: none; padding: 15px;gap:10px;">
                        <div id="contactmsg">Please provide contact information </div>
                        <textarea name="contactInfo" id = "contactInfoId" style="border-radius: 8px; height: 80px;"></textarea>
                        <a class="blue-button" onclick = "saveOrder();">
                            <span>Submit</span>
                        </a>
                    </div>
                    <!-- large box with border radious-->
                    <%- include('cartlist.html') %>
                </div>
                <div style="width: 33.3333333333%; flex: 0 0 auto; border: 1px solid #e3e4e5; border-radius: 8px; padding: 1rem; box-sizing: border-box; background-color: #fff;">
                    <div style="position: sticky; top: 115px;">
                        <!--div with border-->
                        <div style="height: 30px; width: 72%; position: absolute; top:-25px; right: 30px;" class="box-border"></div>
                        <div style="height: 38px; width: 80%; position: absolute; top:-20px; right: 40px;" class="box-border"></div>
                        <div style="box-shadow: 0 0.0625rem 0.125rem 0.0625rem #00000026; border-radius: 0.5rem; margin-top: 40px;">
                            <div style="display: flex;flex-direction: column;margin: 0 auto; padding-left: 1rem;padding-right: 1rem;">
                                <!--Subtotal-->
                                <div style="display: flex; justify-content: space-between;align-items: center; padding-top: 2rem;">
                                    <span style="font-weight: 700;">
                                        Subtotal
                                        <span id="spannoofitem" style="font-weight: 400;margin-left: 0.25rem;">(<%= noofitem %> items)</span>
                                    </span>
                                    <div style="width: 50%;display: flex; flex-direction: column;align-items: flex-end; ">
                                        <div id="subtotal">$<%= subtotal %></div>
                                    </div>
                                </div>
                                <!--Shipping-->
                                <div style="display: flex; justify-content: space-between;align-items: center;padding-top: 0.25rem;">
                                    <span>Shipping</span>
                                    <div>$5</div>
                                </div>
                                <!--estimated -->
                                <div style="display: flex;justify-content: space-between;align-items: center;font-weight: 700;padding-bottom: 2rem;padding-top: 1rem;box-sizing: border-box;;">
                                    <label>Estimated total</label>
                                    <div id="estotal" style="font-size: 1.125rem;">$<%= subtotal + 5 %></div>
                                </div>
                            </div>
                        </div>
                        <div id="btnorder" style="margin-top: 30px;">
                            <a class="blue-button" onclick = "$('#ordercart').css('display', '');">
                                <span>Order</span>
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="id" value=""/>
	<%- include('includes/footer.html') %>