<%- include('includes/header.html') %>	
    <link rel="stylesheet" type="text/css" href="/css/product.css" /> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/product.js"></script>
    <script> 
    </script>
    <title></title>
</head>
<body>
    <%- include('includes/banner.html') %>
    <%- include('includes/menu.html') %>	    
    <div>
        <div class="content">
            <div style="display: flex;flex-wrap: wrap;">
                <div style="width: 66.6666666667%; flex: 0 0 auto; box-sizing: border-box;padding-right: 0.75rem; padding-left: 0.75rem;">
                    <!--img + detail-->
                    <div class="flexcolumn" style="box-sizing: border-box;">
                        <div style="display: flex; align-items: center;">
                            <div style="width: 117px;margin: .5rem;position: relative; padding-top: 15px;">
                                <div id = "smallimgs" style="height: 645px;max-height: 600px;margin-top: 0.5rem;overflow-y: hidden;box-sizing: border-box;">
                                    <% for (let img of imgarr) {%>
                                    <div style="text-align: center;margin-bottom: 0.5rem;overflow: hidden;border-width: 0.125rem;border-radius: 0.5rem;border-color: #fff; border-style: solid;
                                        box-sizing: border-box;">
                                        <img src="<%= img %>" width="117px" height="117px"/>

                                    </div>
                                    <% } %>
                                </div>
                            </div>
                            <div style="position: relative; align-self: center; width:100%;margin:0 auto auto; box-sizing: border-box;">
                                <div style="width: 100%;display: flex;justify-content: center;align-items: flex-start;box-sizing: border-box;">
                                    <div style="height:613px;visibility:hidden; width: 68px; box-sizing: border-box;"></div>
                                    <div style="height: 640px; box-sizing: border-box;">
                                        <img id = "mainimg" src="<%= mainimg %>"
                                            height="640px", width="640px"/>
                                    </div>
                                </div>
                                <div class="refclass"></div>
                                <div style="width: 40px;margin-right: 1rem;position: absolute; right: 0; top: 0;box-sizing: border-box;">
                                </div>
                            </div>
                        </div>
                        <!--detail-->
                        <div style="padding-bottom: 0.5rem;padding-top: 0.5rem;box-sizing: border-box;">
                            <h2>At a glance</h2>
                            <div style="margin-bottom: 0.5rem; margin-top: 0.5rem; background-color: #fff;
                                    border-radius: 0.5rem;line-height: 1.25;">
                                Service provider: AT & T
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-desc-1-3">
                    <div style="font-size: 21px; font-weight: bold; width: 100%;">
                        <%= title %>
                    </div>
                    <div style="font-size: 17px; white-space: pre-line;">
                        <%= description %>
                    </div>
                    <br>
                    <h2>$<%= price %></h2>
                    <a class="blue-button" onclick="addtocart('<%=_id%>');">
                        <span>Add to cart</span>
                    </a>
                </div>
            </div>
        </div>

         <!-- ------cart----- -->
         <div id = "cartwnd" class="cardwnd">
         <div style="display: flex;flex-wrap: wrap; flex-direction: column; align-items: center;">
             <div id = "closecart" style="align-self: flex-end; padding: 10px;" onclick="closeCart();">
                 <a class="x">X</a>
             </div>
             <div id="inccart" class="inccart" style="width: 90%;">
                 <!-- large box with border radious-->                
                 <%- include('cartlist.html') %>
             </div>
             <div class="box-subtotal">
                 <div style="position: sticky; top: 70px; ">
                     <!--div with border-->
                     <div style="box-shadow: 0 0.0625rem 0.125rem 0.0625rem #00000026; border-radius: 0.5rem;">
                         <div style="display: flex;flex-direction: column;margin: 0 auto; padding-left: 1rem;padding-right: 1rem;">
                             <!--Subtotal-->
                             <div style="display: flex; justify-content: space-between;align-items: center; padding-top: 1rem;">
                                 <span style="font-weight: 700;">
                                     Subtotal
                                     <span id="spannoofitem" style="font-weight: 400;margin-left: 0.25rem;">(<%= noofitem %> items)</span>
                                 </span>
                                 <div style="width: 50%;display: flex; flex-direction: column;align-items: flex-end; ">
                                     <div id="subtotal">$<%= subtotal %></div>
                                 </div>
                             </div>
                             <!--Shipping-->
                             <div style="display: flex; justify-content: space-between;align-items: center;padding-top: 0.25rem;">
                                 <span>Shipping</span>
                                 <div>$5</div>
                             </div>
                             <!--estimated -->
                             <div style="display: flex;justify-content: space-between;align-items: center;font-weight: 700;padding-bottom: 1rem;padding-top: 1rem;box-sizing: border-box;;">
                                 <label>Estimated total</label>
                                 <div id="estotal" style="font-size: 1.125rem;">$<%= (parseFloat(subtotal)+5) %></div>
                             </div>
                         </div>
                     </div>
                 </div>
                 
             </div>

             <div style="margin-top: 20px; width: 90%; text-align: left;">
                <a class="blue-button" href="/product/cart" style="text-decoration: none;">
                    <span>Go to cart</span>
                </a>
             </div>
         </div>
        </div>
    </div>
    <input type="hidden" name="id" value="<%= _id %>"/>
    <input type="hidden" name="mainimg" value="<%= mainimg %>"/>
    
	<%- include('includes/footer.html') %>