<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/product.css" /> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        function addtocart(id) {
            alert(id);
            $.ajax({
                "url": "/product/addcart",
                "method": "GET",
                "data":{id: id}
            }).done(function(response){
                console.log(response);
                $("#subtotal").html(response.subtotal);
                $("#spannoofitem").html("(" + response.noofitem + " items)");
                $("#cartwnd").css("opacity", "1");
            })
        }
    </script>
    <title>Document</title>
</head>
<body>
    <div>
        <div style="margin: 0 auto;max-width: 1440px;width: 90%;padding-left: 20px;padding-right: 20px;">
            <div style="display: flex;flex-wrap: wrap;">
                <div style="width: 66.6666666667%; flex: 0 0 auto; box-sizing: border-box;
                padding-right: 0.75rem; padding-left: 0.75rem;">
                    <!--img + detail-->
                    <div style="display: flex;flex-direction: column;box-sizing: border-box;">
                        <div style="display: flex; align-items: center;">
                            <div style="width: 117px;margin: .5rem;position: relative;">
                                <div style="height: 645px;max-height: 645px;margin-top: 0.5rem;overflow-y: hidden;box-sizing: border-box;">
                                    <% for (let img of imgarr) {%>
                                    <div style="text-align: center;margin-bottom: 0.5rem;overflow: hidden;border-width: 0.125rem;border-radius: 0.5rem;border-color: #fff; border-style: solid;
                                        box-sizing: border-box;">
                                        <img src="<%= img %>" width="117px" height="117px"/>

                                    </div>
                                    <% } %>
                                </div>
                            </div>
                            <div style="position: relative; align-self: center; width:100%;margin:0 auto auto; box-sizing: border-box;">
                                <div style="width: 100%;display: flex;justify-content: center;align-items: flex-start;box-sizing: border-box;">
                                    <div style="height:613px;visibility:hidden; width: 68px; box-sizing: border-box;"></div>
                                    <div style="height: 640px; box-sizing: border-box;">
                                        <img src="<%= mainimg %>"
                                            height="640px", width="640px"/>
                                    </div>
                                </div>
                                <div class="refclass"></div>
                                <div style="width: 40px;margin-right: 1rem;position: absolute; right: 0; top: 0;box-sizing: border-box;">
                                    <button>
                                        Test
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--detail-->
                        <div style="padding-bottom: 0.5rem;padding-top: 0.5rem;box-sizing: border-box;">
                            <h2>At a glance</h2>
                            <div style="margin-bottom: 0.5rem; margin-top: 0.5rem; background-color: #f8f8f8;
                                    border-radius: 0.5rem;line-height: 1.25;">
                                Service provider: AT & T
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 33.3333333333%; flex: 0 0 auto; border: 1px solid #e3e4e5; border-radius: 8px; padding: 1rem; box-sizing: border-box;">
                    <div style="font-size: 18px; font-weight: bold; width: 100%;">
                        <%= title %>
                    </div>
                    <div style="font-size: 18px; font-weight: bold;">
                        <%= description %>
                    </div>
                    <br>
                    <h2>$<%= price %></h2>
                    <a style="padding-left: 0.5rem;padding-right: 0.5rem;font-weight: 700;justify-content: center;align-items: center;display: flex;background: #0071dc;
                        color: #fff;border-radius: 62.5rem;cursor: pointer;box-sizing: border-box; width: 171px; height: 40px;"
                        onclick="addtocart('<%=_id%>');"
                        >
                        <span>Add to cart</span>
                    </a>
                </div>
            </div>
        </div>

         <!-- ------cart----- -->
         <div id = "cartwnd" class="cardwnd">
         <div style="display: flex;flex-wrap: wrap; flex-direction: column; align-items: center;">
             <div  style="align-self: flex-end; padding: 10px;">
                 <a class="x">X</a>
             </div>
             <div style="width: 90%; flex: 0 0 auto; box-sizing: border-box;
             padding-right: 0.75rem; padding-left: 0.75rem;">
                 <!-- large box with border radious-->
                 <div style="display: flex;flex-direction: column;box-sizing: border-box;
                     margin: 0 auto 1.5rem;
                     box-shadow: 0 0.0625rem 0.125rem 0.0625rem #00000026;border-radius: 0.5rem;">
                     <!--first div with bg-->
                     <div style="border-color: #f1f1f2;box-sizing: border-box; padding-bottom: 1rem;background-color: #f2f8fd;
                         border-color: #f1f1f2;border-bottom-style: solid; border-bottom-width: 1px;">
                         <div>
                             Shipping, arrivesTue, Feb 6–Wed, Feb 28
                         </div>

                     </div>
                     <!--items-->
                     <div style="display: flex; flex-direction: column;">
                         <!--number of item-->
                         <div style="padding-left: 1.5rem;padding-right: 1.5rem;margin-top: 1rem;justify-content: space-between;align-items: center; box-sizing: border-box;">
                             <div style="font-size: 1.125rem;font-weight: 700;">2 items</div>
                         </div>
                         <section>
                             <% for(let i = 0; i< 2; i++) {%>
                             <div style="display: flex;flex-direction: column;box-sizing: border-box; margin: 0.5rem; position: relative;
                                 border-top: 1px solid #f1f1f2;">
                                 <div style="display: flex;position: relative;padding-top: 0.25rem;">
                                     <div style="margin-top: 0.25rem;margin-bottom: 1rem;;display: flex;box-sizing: border-box;">
                                         <a>
                                             <img src="/images/i15.jpeg" height="96px" width="96px"/>
                                         </a>
                                     </div>
                                     <div style="display: flex;width: 60%;box-sizing: border-box;color: #2e2f32; padding-top: 10px;">
                                         <span>DecorRack 1 Oz Shot Glasses, Hard Clear Plastic Shot Cups (80 Pack)</span>
                                     </div>
                                     <div style="text-align: right;line-height: 1.25;font-size: 1.125rem;font-weight: 700;box-sizing: border-box; padding-top: 10px; width: 30%; padding-right: 10px;">
                                         $1000
                                     </div>
                                 </div>
                                 <!--remove-->
                                 <div style="right: 0px; bottom: -8px; position: absolute;margin-left: auto;margin-bottom: 0.5rem;margin-top: 0.5rem;display: flex;align-items: center; gap: 15px;">
                                     
                                     <div>
                                         <a class="btn" style="text-align: center; text-decoration: underline;cursor: pointer;" onclick="removeItem(this, '1');">
                                             Remove
                                         </a>                                       
                                     </div>
                                     <div style="width: 120px;padding: 0.25rem;display: flex;border-radius: 9999px; border: 1px solid #babbbe; font-size: 1rem;">
                                         <button type="button" style="width: 1.5rem;height: 1.5rem;justify-content: center;align-items: center;display: flex;border-radius: 1rem; border:0px">
                                             -</button>
                                         <span style="margin: 0 auto; display: flex; align-items: center;font-weight: 700;">1</span>
                                         <button type="button" style="width: 1.5rem;height: 1.5rem;justify-content: center;align-items: center;display: flex;border-radius: 1rem; border:0px">
                                             +</button>
                                     </div>
                                     
                                 </div>
                                 
                             </div>
                             <% } %>
                         </section>

                     </div>

                 </div>
             </div>
             <div style="width: 90%; flex: 0 0 auto; border: 1px solid #e3e4e5; border-radius: 8px; padding: 1rem; box-sizing: border-box;">
                 <div style="position: sticky; top: 115px;">
                     <!--div with border-->
                     <div style="box-shadow: 0 0.0625rem 0.125rem 0.0625rem #00000026; border-radius: 0.5rem;">
                         <div style="display: flex;flex-direction: column;margin: 0 auto; padding-left: 1rem;padding-right: 1rem;">
                             <!--Subtotal-->
                             <div style="display: flex; justify-content: space-between;align-items: center; padding-top: 1rem;">
                                 <span style="font-weight: 700;">
                                     Subtotal
                                     <span id="spannoofitem" style="font-weight: 400;margin-left: 0.25rem;">(<%= noofitem %> items)</span>
                                 </span>
                                 <div style="width: 50%;display: flex; flex-direction: column;align-items: flex-end; ">
                                     <div id="subtotal"><%= subtotal %></div>
                                 </div>
                             </div>
                             <!--Shipping-->
                             <div style="display: flex; justify-content: space-between;align-items: center;padding-top: 0.25rem;">
                                 <span>Shipping</span>
                                 <div>$5</div>
                             </div>
                             <!--estimated -->
                             <div style="display: flex;justify-content: space-between;align-items: center;font-weight: 700;padding-bottom: 1rem;padding-top: 1rem;box-sizing: border-box;;">
                                 <label>Estimated total</label>
                                 <div id="estotal" style="font-size: 1.125rem;">$<%= subtotal+5 %></div>
                             </div>
                         </div>
                     </div>
                 </div>
                 
             </div>
         </div>
        </div>
    </div>
    <input type="hidden" name="id" value="<%= _id %>"/>
</body>
</html>