<%- include('includes/header.html') %>
</head>
<script>
    window.onload = function(){
        setTimeout(() => {
            refreshProducts();
        }, 500);
    };

</script>

<body>
    <%- include('includes/banner.html') %>
    <%- include('includes/menu.html') %>

    <main>
        <div class="grid" id="productContainer">
        <% if (prods.length > 0) { %>
                <% for (let product of prods) { %>
                    <article class="card product-item" style="width: 400px; padding-top: 20px;">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= product.imageUrl[0] %>" alt="A  <%= product.title %>" style="border-radius: 50%;">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$<%= product.price %> </h2>
                            <p class="product__description"><%= product.description %></p>
                        </div>
                        <div class="card__actions">
                            <button class="btn">Add to Cart</button>
                        </div>
                    </article>
                <% } %>
                <% } else { %>
                    <img src="images/loading.webp" alt="loading" id="loadingId">
            <% } %>
        </div>
    </main>
<%- include('includes/footer.html') %>