.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}


.flexcolumn {
    display: flex;
    flex-direction: column;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.content {
    margin: 20px auto;
    max-width: 1440px;
    width: 90%;
    padding: 20px;   
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.3), inset 0px -2px 6px 0px rgba(10, 37, 64, 0.35);
    
}

.inccart {
    flex: 0 0 auto; 
    box-sizing: border-box;
    padding-right: 0.75rem; 
    padding-left: 0.75rem;
}

a {
    cursor: pointer;
}

a.x {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
}

.btn-quanity {
    cursor: pointer;
}

a.x:hover {
    color: blue;
    text-decoration: none;
}

.btn-quanity:hover, a.x:hover {
    color: blue;
    font-weight: 750;
}

.quantity-change {
    width: 1.5rem;height: 1.5rem;justify-content: center;align-items: center;display: flex;border-radius: 1rem; border:0px;
}

.cardwnd {
    z-index: 100000;
    width: 40%;
    position: fixed;
    top: 70px;
    left: 100%;
    height: 90%; 
    transform: translate3d(-100%, 0, 0); 
    opacity: 1; transition: transform 0.4s, opacity 1s;
    box-shadow: 0 20px 10px -20px rgba(0,0,0,0.45) inset, 20px 0 10px -20px rgba(0,0,0,0.45) inset;
    border: 1px solid lightgrey; 
    border-radius: 10px;
    background-color: #f2f8fd; 
    overflow: auto;
    opacity: 0;
    visibility: hidden;
}

.box-border {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto 1.5rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 0.5rem;
}

.blue-button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #0071dc;
    color: #fff;
    border-radius: 62.5rem;
    cursor: pointer;
    box-sizing: border-box; 
    width: 171px; 
    height: 40px;
}

.menu-quantity {
    right: 0px; 
    bottom: -8px; 
    position: absolute;
    margin-left: auto;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center; 
    gap: 15px;
}

.product-desc-1-3 {
    width: 33.3333333333%; 
    flex: 0 0 auto; 
    border: 1px solid #e3e4e5; 
    border-radius: 8px; 
    padding: 1rem; 
    box-sizing: border-box;
    box-shadow: #00000029 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.box-subtotal {
    width: 90%; 
    flex: 0 0 auto; 
    border: 1px solid #e3e4e5; 
    border-radius: 8px; 
    padding: 1rem; 
    box-sizing: border-box;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}