.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}


.flexcolumn {
    display: flex;
    flex-direction: column;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.content {
    margin: 0 auto;
    max-width: 1440px;
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
}

.inccart {
    flex: 0 0 auto; 
    box-sizing: border-box;
    padding-right: 0.75rem; 
    padding-left: 0.75rem;
}

a {
    cursor: pointer;
}

a.x {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
}

.btn-quanity {
    cursor: pointer;
}

a.x:hover {
    color: blue;
    text-decoration: none;
}

.btn-quanity:hover, a.x:hover {
    color: blue;
    font-weight: 750;
}

.quantity-change {
    width: 1.5rem;height: 1.5rem;justify-content: center;align-items: center;display: flex;border-radius: 1rem; border:0px;
}

.cardwnd {
    z-index: 100000;
    width: 800px;
    position: fixed;
    top: 0;
    left: 100%;
    height: 100%; 
    transform: translate3d(-100%, 0, 0); 
    opacity: 1; transition: transform 0.4s, opacity 1s;
    border: 1px solid lightgrey; 
    background-color: #f2f8fd; 
    opacity: 0;
    visibility: hidden;
}

.box-border {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto 1.5rem;
    box-shadow: 0 0.0625rem 0.125rem 0.0625rem #00000026;
    border-radius: 0.5rem;
}

.blue-button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #0071dc;
    color: #fff;
    border-radius: 62.5rem;
    cursor: pointer;
    box-sizing: border-box; 
    width: 171px; 
    height: 40px;
}